.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: cyan;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.logo{
    max-height: 2.5rem;
}