.container{
    display: flex;
    color: blue
}
.form_background{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}